@inherits LayoutComponentBase
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject ISnackbar Snackbar

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (_isAuthenticated)
            {
                <MudButton OnClick="@HandleLogout" Color="MudBlazor.Color.Dark" Variant="Variant.Filled">
                    Logout
                </MudButton>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>